<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация - LifeCourse</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('js/registration.js') }}">
    <style>
        .hideme {
            display: none;
        }
    </style>

</head>
<body>
<header>
    <div class="logo">
        <img src="{{ asset('static/logo.jpg') }}" alt="Логотип">
    </div>
    <div class="description">
        <p>Регистрация - LifeCourse</p>
    </div>
</header>

<nav class="main-menu">
    <ul>
        <li><a href="main.html">Главная страница</a></li>
        <li><a href="feed.html">Лента</a></li>
        <li><a href="rating.html">Рейтинг</a></li>
        <li><a href="user_profile.html">Профиль студента</a></li>
        <li><a href="profile_university.html">Профиль вуза</a></li>
    </ul>
</nav>

<div class="registration-form">
    <h2>Регистрация</h2>
    <form method="post">
        <label for="status">Выберите ваш статус:</label><br>
        <select name="status" id="status" required>
            <option value="student">Студент</option>
            <option value="teacher">Представитель ВУЗа</option>
        </select><br><br>

        <label for="login">Логин:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="last-name">Фамилия:</label><br>
        <input type="text" id="last-name" name="last-name" required><br><br>

        <label for="first-name">Имя:</label><br>
        <input type="text" id="first-name" name="first-name" required><br><br>

        <label for="university">Университет:</label><br>
        <select name="university" id="university" required>
            <option disabled selected>Не выбрано</option>
            {% for university in universities %}
                <option value="{{ university.id }}">{{ university.name }}</option>
            {% endfor %}
        </select><br><br>

        <label class="select-group" for="group">Группа:</label><br>
        <select class="select-group" disabled name="group" id="group">
        </select><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
<footer>
    <div class="company-info">
        <p>«ООО СОЗНАНИЕ»</p>
        <p>Юридический адрес</p>
        <p>Электронная почта</p>
    </div>
    <div class="additional-links">
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Условия использования сайта</a>
        <a href="#">Обратная связь</a>
        <a href="#">О нас</a>
        <a href="#">Реклама</a>
        <a href="#">Партнеры</a>
    </div>
</footer>
</body>
<script>
    document.getElementById("status").addEventListener('change', ev => {
        const el = document.getElementsByClassName('select-group')
        if (ev.target.value === 'teacher') {
            for (let i = 0; i < el.length; i++) {
                el.item(i).classList.add('hideme')
            }
        } else {
            for (let i = 0; i < el.length; i++) {
                el.item(i).classList.remove('hideme')
            }
        }
    })
    document.getElementById('university').addEventListener('change', (e) => {
        const groupEl = document.getElementById('group')
        console.log(`http://localhost:8000/regroups?university_id=${e.target.value}`)
        fetch(`http://localhost:8000/regroups?university_id=${e.target.value}`).then(res => res.json()).then(res => {
            groupEl.removeAttribute('disabled')
            groupEl.childNodes.forEach((v) => {
                v.remove()
            })
            res.groups.forEach((item) => {
                let opt = document.createElement('option')
                opt.value = item.id
                opt.innerHTML = item.name
                groupEl.appendChild(opt)
            })
        })
    })
</script>
</html>