{% extends 'base.html.twig' %}
{% block body %}
    <div class="landing-description">
        <div class="landing-buttons">
            <button onclick="location.href='/registration'">Студентам</button>
            <button onclick="location.href='/registration'">ВУЗам</button>
            <button onclick="location.href='/registration'">Предпринимателям</button>
        </div>

        <div class="app-description">
            <h2>LifeCourse - ваш надежный гид в мире образования!</h2>
            <p>"LifeCourse" - это ваш надежный гид в мире образования! Наше приложение значительно упрощает процесс
                обучения
                студентов, предоставляя широкий функционал для достижения успеха.</p>
            <p>С LifeCourse студенты могут:</p>
            <ul>
                <li>Получать ответы на интересующие их вопросы.</li>
                <li>Оказывать взаимную помощь в учебе.</li>
                <li>Оформлять свои достижения в учебе в виде резюме.</li>
                <li>Накапливать достижения и получать награды в виде звезд и медалей.</li>
                <li>Выделяться среди других студентов, демонстрируя свои навыки и успехи.</li>
                <li>Стать заметными для работодателей и предложить себя для сотрудничества.</li>
            </ul>
            <p>LifeCourse также предоставляет возможности для преподавателей, соискателей, работодателей, родителей и
                абитуриентов. Мы стремимся к максимальной удобности, простоте и точности в нашем приложении, чтобы
                каждый
                пользователь мог достичь своих целей в образовании и карьере.</p>
            <p>Присоединяйтесь к LifeCourse сегодня и откройте для себя новые возможности в мире образования и
                профессионального развития!</p>
        </div>
    </div>

    <div class="login-button">
        {% if app.user %}
            {% if 'ROLE_STUDENT' in  app.user.roles %}
                <button onclick="location.href='/student/view/{{ app.user.id }}'">Профиль</button>
            {% else %}
                <button onclick="location.href='/university/view/1'">Профиль</button>
            {% endif %}
            <button onclick="location.href='/logout'">Выйти</button>
        {% else %}
            <button onclick="location.href='/login'">Войти</button>
            <button onclick="location.href='/registration'">Регистрация</button>
        {% endif %}
    </div>

    <div class="top-students">
        <h2>Топ студентов</h2>
        {% for student in top_students %}
            <img src="{{ asset('images/' ~ student.photo) }}" width="150" alt="Фото" id="photo"/>
            <div class="student-info" onclick="location.href='/student/view/{{ student.id }}'">
                <p>Фамилия: {{ student.lastname }}</p>
                <p>Имя: {{ student.firstname }}</p>
                <p>Город: {{ student.city }}</p>
                <p>ВУЗ: {{ student.university }}</p>
                <p>Факультет: {{ student.faculty }}</p>
            </div>
        {% endfor %}
        <div class="student">

        </div>
    </div>
{% endblock %}